body {
  background-color: #000000;

  /* stylelint-disable-next-line order/properties-alphabetical-order */
  background-size: 100% auto;
  font-family: "Exo-Regular", "Arial";
}

@font-face {
  src: url(../assets/Exo/Exo-Regular.ttf);
  font-family: 'Exo-Regular';    
  font-weight: normal;
}

/* div img {
  height: 150px;
  width: 200px;
} */

div h2 {
  margin-left: 220px;
}

.planets {
  align-items: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  justify-content: space-around;
  margin: auto;
  width: 70%;
}

.planets-cards {
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  height: 215px;
  justify-content: space-around;
}

.missions {
  align-items: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  justify-content: space-around;
  margin: auto;
  width: 70%;
}

.mission-card {
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 5px;
}

.mission-card p {
  margin: 3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #292622;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9d9488;
}

::-webkit-scrollbar-track {
  background-color: black;
}